.row
  .col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
    %h2.text-center.login-headline Add a comment!
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Add a new comment
      .panel-body
        = render 'comments/form'
